@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.drumKit {
  box-sizing: border-box;
  background-image: url(../img/27230.jpg);
  background-size: 100% 100%;
  min-height: 650px;
  max-height: 200vh;
  min-width: 1200px;
}
.heading {
  color: whitesmoke;
  position: absolute;
  padding-top: 30px;
  margin-left: 70px !important;
}
.toggle {
  cursor: pointer;
  position: absolute;
  transform: translate(1050px, 30px);
  color: rgb(0, 0, 0);
  padding: 5px;
  font-size: 1.5rem !important;
  border-radius: 4px;
  background-color: whitesmoke;
}

.drumSet {
  box-sizing: border-box;
  padding-top: 85px;
  height: 100vh;
  width: 100%;
  padding-left: 60px;
  overflow: hidden;
}
.element {
  cursor: pointer;
  border-radius: 100px;
  position: absolute;
}
.font {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  font-family: "Indie Flower", cursive !important;
  font-weight: 700 !important;
  font-size: 48px !important;
}
/* Chimbal */
#close {
  width: 130px;
  height: 130px;
  margin-left: 240px;
  z-index: 2;
  margin-top: 240px;
}
#close div {
  transform: rotate(-6deg);
  background: url(../img/drum/close.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.close-letter {
  font-size: 36px !important;
  transform: translate(324px, 317px) rotate(-43deg);
}
#crashL {
  width: 175px;
  z-index: 7;
  height: 175px;
  margin-left: 280px;
  margin-top: 120px;
}

#crashL div {
  transform: rotate(-28deg);
  background: url(../img/drum/crashLeft.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.crashL-letter {
  font-size: 40px !important;
  transform: translate(387px, 238px) rotate(-26deg);
}
#splash {
  width: 150px;
  height: 150px;
  margin-left: 445px;
  z-index: 6;
  margin-top: 70px;
}

#splash div {
  transform: rotate(-2deg);
  background: url(../img/drum/splash.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.splash-letter {
  font-size: 38px !important;
  transform: translate(516px, 175px) rotate(-4deg);
}
#crashR {
  width: 165px;
  height: 165px;
  z-index: 7;
  margin-left: 725px;
  margin-top: 20px;
}

#crashR div {
  transform: rotate(12deg);
  background: url(../img/drum/crashRight.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.crashR-letter {
  font-size: 38px !important;
  transform: translate(776px, 138px) rotate(26deg);
}
#ride {
  width: 200px;
  height: 200px;
  z-index: 7;
  margin-left: 820px;
  margin-top: 150px;
}
#ride div {
  transform: rotate(37deg);
  background: url(../img/drum/ride.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.ride-letter {
  font-size: 42px !important;
  transform: translate(853px, 278px) rotate(39deg);
}
#open {
  width: 130px;
  height: 130px;
  z-index: 6;
  margin-left: 655px;
  margin-top: 95px;
}
#open div {
  transform: rotate(-2deg);
  background: url(../img/drum/open.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.open-letter {
  font-size: 36px !important;
  transform: translate(715px, 182px) rotate(4deg);
}

#tomL {
  width: 150px;
  height: 150px;
  z-index: 5;
  margin-left: 410px;
  margin-top: 185px;
}

#tomL div {
  background: url(../img/drum/tomL.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.tomL-letter {
  transform: translate(765px, 240px);
  color: white;
}
#tomM {
  width: 160px;
  height: 160px;
  z-index: 5;
  margin-left: 550px;
  margin-top: 135px;
}
#tomM div {
  background: url(../img/drum/tomM.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.tomM-letter {
  transform: translate(615px, 180px);
  color: white;
}
#tomR {
  width: 170px;
  height: 170px;
  z-index: 5;
  margin-left: 700px;
  margin-top: 185px;
}
#tomR div {
  transform: rotate(12deg);
  background: url(../img/drum/tomR.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.tomR-letter {
  transform: translate(470px, 230px);
  color: white;
}
#snare {
  width: 215px;
  height: 210px;
  z-index: 4;
  margin-left: 520px;
  margin-top: 240px;
}
#snare div {
  background: url(../img/drum/snare.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.snare-letter {
  transform: translate(610px, 310px);
  color: white;
}

#kickL {
  width: 250px;
  height: 245px;
  z-index: 2;
  margin-left: 360px;
  margin-top: 305px;
}
#kickL div {
  background: url(../img/drum/kickl.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.kickL-letter {
  transform: translate(470px, 400px);
}
#kickR {
  width: 250px;
  height: 245px;
  z-index: 2;
  margin-left: 640px;
  margin-top: 305px;
}
#kickR div {
  background: url(../img/drum/kickr.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.kickR-letter {
  transform: translate(745px, 400px);
}
#floor {
  width: 175px;
  height: 180px;
  z-index: 2;
  margin-left: 890px;
  margin-top: 345px;
}
#floor div {
  transform: rotate(8deg);
  background: url(../img/drum/floor.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
.floor-letter {
  transform: translate(959px, 403px) rotate(35deg);
  color: white;
}

.animation {
  transform: scale(1.1);
}
.cheatSheet {
  border-radius: 2px;
  right: 10px;
  top: 10px;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: whitesmoke;
}
