* {
  box-sizing: border-box !important;
}
.drumKit {
  background-image: url(../img/27230.jpg);
  background-size: cover;
  height: 100vh;
}
.drumSet {
  box-sizing: border-box;
  height: 600px;
  width: 1200px;
  margin: 100px auto;
}
.element {
  cursor: pointer;
  border-radius: 100px;
  position: absolute;
}
/* Chimbal */
#close {
  transform: rotate(-6deg);
  width: 130px;
  height: 130px;
  margin-left: 240px;
  z-index: 2;
  margin-top: 240px;
}
#close div {
  background: url(../img/drum/close.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

#crashL {
  transform: rotate(-28deg);
  width: 175px;
  z-index: 7;
  height: 175px;
  margin-left: 280px;
  margin-top: 120px;
}

#crashL div {
  background: url(../img/drum/crashLeft.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
#splash {
  transform: rotate(-2deg);
  width: 150px;
  height: 150px;
  margin-left: 445px;
  z-index: 6;
  margin-top: 70px;
}

#splash div {
  background: url(../img/drum/splash.png) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

#crashR {
  transform: rotate(12deg);
  background: url(../img/drum/crashRight.png) no-repeat;
  background-size: 100% 100%;
  width: 165px;
  height: 165px;
  z-index: 7;
  margin-left: 725px;
  margin-top: 20px;
}
#ride {
  transform: rotate(37deg);
  background: url(../img/drum/ride.png) no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  z-index: 7;
  margin-left: 820px;
  margin-top: 150px;
}
#open {
  transform: rotate(-2deg);
  background: url(../img/drum/open.png) no-repeat;
  background-size: 100% 100%;
  width: 130px;
  height: 130px;
  z-index: 6;
  margin-left: 655px;
  margin-top: 95px;
}
#tomL {
  background: url(../img/drum/tomL.png) no-repeat;
  background-size: 100% 100%;
  width: 150px;
  height: 150px;
  z-index: 5;
  margin-left: 410px;
  margin-top: 185px;
}
#tomM {
  background: url(../img/drum/tomM.png) no-repeat;
  background-size: 100% 100%;
  width: 160px;
  height: 160px;
  z-index: 5;
  margin-left: 550px;
  margin-top: 135px;
}

#tomR {
  transform: rotate(12deg);
  background: url(../img/drum/tomR.png) no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 170px;
  z-index: 5;
  margin-left: 700px;
  margin-top: 185px;
}
#snare {
  background: url(../img/drum/snare.png) no-repeat;
  background-size: 100% 100%;
  width: 215px;
  height: 210px;
  z-index: 4;
  margin-left: 520px;
  margin-top: 240px;
}

#kickL {
  background: url(../img/drum/kickl.png) no-repeat;
  background-size: 100% 100%;
  width: 250px;
  height: 245px;
  z-index: 2;
  margin-left: 360px;
  margin-top: 305px;
}
#kickR {
  background: url(../img/drum/kickr.png) no-repeat;
  background-size: 100% 100%;
  width: 250px;
  height: 245px;
  z-index: 2;
  margin-left: 640px;
  margin-top: 305px;
}
#floor {
  transform: rotate(8deg);
  background: url(../img/drum/floor.png) no-repeat;
  background-size: 100% 100%;
  width: 175px;
  height: 180px;
  z-index: 2;
  margin-left: 890px;
  margin-top: 345px;
}
